body {
    text-align: left;
    color: black;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.negro {
    background: black;
    color: #ffffff;
}

.negro a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}

nav {
    text-align: left;
    padding: 25px px;
    width: 100vw;
    position: fixed
}

#icono {
    width: 32px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 15px;
}

header {
    padding-left: 318px;
    padding-top: 120px;
}

header img {
    width: 900px;
    padding-top: 20px;
}

p {
    text-align: justify;
    width: 900px;
    font-size: 20px;
    font-weight: 400;
}

section {
    padding-left: 318px;
    padding-bottom: 40px;
}

footer {
    text-align: center;
    width: 100vw;
}

footer p {
    padding-bottom: 20px;
    margin-left: 36%;
}

footer i {
    padding-top: 101px;
    margin: 0 10px;
}